//Imports

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Oswald');

@import 'utility';
@import 'home';

// Variables

$bodyFont: 'PT Sans', sans-serif;
$headerFont: 'Oswald', sans-serif;
$backgroundColor: #05291e;;
$bodyTextColor: #f5f5f5;
$bodyAccentColor: #f22200;

// Global styles

body {
    background-color: $backgroundColor;
    color: $bodyTextColor;
    font-family: $bodyFont;
    padding: 0;
}

h1, h2, h3 {
    font-family: $headerFont;
}
