//Imports

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import './utility.scss';
@import './pages/home/_home.scss';

// Variables

$bodyFont: 'PT Sans', sans-serif;
$headerFont: 'PT Sans', sans-serif;
$backgroundColor: #fff;
$baseBorderColor: #888;
$lightAccent: #d1d1d1;
$bodyTextColor: #000;
$bodyAccentColor: #f22200;
$linkColor: #000;

// Mixins

@mixin page-width() {
    max-width: 1224px;
    margin: auto;
    padding: 0 1.5rem;
}

// Global styles

html, body {
    background-color: $backgroundColor;
    color: $bodyTextColor;
    font-family: $bodyFont;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

// Typography

h1, h2, h3 {
    font-family: $headerFont;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

// Layout

main {
    @include page-width;
}

.section__header {
    margin-top: 0; 
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;

    .column {
        margin: 1rem 2rem 1rem 0;
        padding: 0;
    }
}

// Header

.masterhead {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 .75rem;
    @include page-width;
}

.nav__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav__item-link {
    display: inline-block;
    margin: 0;
    padding: 1.25em;
    text-decoration: none;
    color: $linkColor;
    font-weight: 600;
    border-bottom: 3px solid $baseBorderColor;
    -webkit-transition: background-color 500ms ease;
       -moz-transition: background-color 500ms ease;
            transition: background-color 500ms ease;
}

.nav__item-link:hover {
    background-color: $baseBorderColor;
    color: #fff;
}

// Error message

.error-container {
    width: 100%;
    margin: 0;
    padding: .5em 0;
    text-align: center;
    overflow: hidden;
    background: lightsalmon;
    box-shadow: 0px 3px 3px lightgrey;
    animation: expand 1s;
    & p {
        font-weight: 600;
    }
}

@keyframes expand {
    from {
        -webkit-transform: translate(0, -100px);
            -ms-transform: translate(0, -100px);
                transform: translate(0, -100px);
    }
    to {
        -webkit-transform: translate(0, 0px);
            -ms-transform: translate(0, 0px);
                transform: translate(0, 0px);
    }
}