.mainheader {
    background-color: rgba(0, 39, 118, 0.6);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.mainheader__nav {
    height: 100%;
    line-height: 50px;
}

.mainheader__nav-list {
    list-style: none;
}

.mainheader__nav-list > li {
    display: inline-block;
}

.mainheader__nav-list > li:nth-of-type(even) a {
    color: #6d9f03;
}

.mainheader__nav-link {
    font-size: .75rem;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 25.5px;
}

