/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Typography */

html body {
    font-family: 'Lato', sans-serif;
}

body a,
body a:hover,
body a:visited,
body a:focus {
    color: #fff;
    text-decoration: none;
}